<div class="container">
  <h1>Padawn Hacker</h1>
  <p>may the hacker force be with you</p>
<header>
  <ul>
    <li><a href="/">comments</a></li>
    <li><a href="/">submit</a></li>
    <li><a href="/login">log in</a></li>
  </ul>
</header>
</div>
