<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

</head>
  <title>

  </title>
<body>
  <div class="container">
  <div class="tab">
    <span><h4><a href="/">Padawan Hacker</a></h4></span>
        <span>
          <ul>
            <li><a href="">| comments  |</a></li>
             <%if current_user%>
            <li><a href="/post">| submit post |</a></li>
            <%end%>
             <%if current_user%>
              <li><a href="/profile">| <%=@current_user.username%> |</a>
                  <a href="/logout">| logout |</a></li>
            <%else%>
            <li><a href="/login">| login |</a></li>
             <%end%>
          </ul>
         </span>
    </div>
  <%= yield %>
  </div>
</body>
</html>
