
<h3> Login </h3>
<form class="input" action="/user" method="POST">
<input class="box" placeholder="username" required="required" type="text" name="username"><br>
<input class="box" placeholder="password" required="required" type="password" name="password"><br>
<input class="enter_button" type="submit" value="Login">
</form>

<h3> Create Account </h3>
<form class="input" action="/create_account" method="POST">
<input class="box" placeholder="username" required="required" type="text" name="username"><br>
<input class="box" placeholder="password" required="required" type="password" name="password"><br>
<input class="enter_button" type="submit" value="Create Account">
</form>
