
<form action="/submit_post" method="POST">
Post Title<br>
<input required="required" type="text" name="title"><br>
Post Content:<br>
<textarea required="required" name="body" id="body">
</textarea><br>
<input class="enter_button" type="submit" value="Submit">
</form>
